---
import { Icon } from 'astro-icon/components';
import type { CollectionEntry } from 'astro:content';
import { twMerge } from 'tailwind-merge';

interface Props {
  nextProject: CollectionEntry<'projects'>;
  prevProject: CollectionEntry<'projects'>;
  className?: string;
}

const { prevProject, nextProject, className } = Astro.props;
---

<div class:list={twMerge('relative mx-auto flex w-full max-w-6xl gap-4', className)}>
  <div class="flex w-full items-center justify-between gap-4 pb-12">
    <div class="hidden sm:block">
      <a
        href="/#portfolio"
        class="group btn btn-primary rounded-btn flex items-center gap-2"
        title="zurück zur Übersicht"
      >
        <Icon
          name="mdi:arrow-left"
          class="h-5 w-5 group-hover:-translate-x-1 transition-transform duration-200 will-change-transform"
        />
        zurück zur Übersicht
      </a>
    </div>

    <div class="mb-4 flex w-full justify-between gap-4 sm:mb-0 sm:w-auto sm:justify-start">
      <a
        href={`/projekte/${prevProject.slug}`}
        class="btn btn-circle btn-primary flex items-center gap-2"
        title="vorheriges Projekt"
      >
        <span class="sr-only">vorheriges Projekt</span>
        <Icon name="mdi:arrow-left" class="h-5 w-5" />
      </a>

      <a
        href={`/projekte/${nextProject.slug}`}
        class="btn btn-circle btn-primary flex items-center gap-2"
        title="nächstes Projekt"
      >
        <span class="sr-only">nächstes Projekt</span>
        <Icon name="mdi:arrow-right" class="h-5 w-5" />
      </a>
    </div>
  </div>
</div>
