@import 'tailwindcss';

@plugin 'daisyui';
@plugin "daisyui/theme" {
  name: 'dark';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(13% 0.028 261.692);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(60% 0.126 221.723);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 1rem;
  --radius-field: 1.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.35rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
  --rounded-btn: calc(2.25rem * 2);
  --cardtitle-fs: 1.25rem;
}

@plugin 'tailwind-scrollbar' {
  nocompatible: true;
}

@plugin '@tailwindcss/typography';
@import '@styles/animations.css';
@import '@styles/reveal-effects.css';
@import '@styles/projects.css';
@import '@styles/forms.css';
@import '@styles/scroll-top.css';

/* Theme */
@theme {
  --font-sans: 'Poppins', sans-serif;
  --animate-glow-pulse: glow-pulse 12s ease-in-out infinite;
  --animate-fade-in: fadeIn 0.5s ease-in-out;
  --animate-scale-in: scaleIn 0.5s ease-out;
}

/* Variables */
:root {
  --fixed-header-height: 74px;

  @variant lg {
    --fixed-header-height: 112px;
  }
}

/* Utility Classes */
@utility rounded-btn {
  @apply rounded-(--rounded-btn);
}

@utility circuit-pattern {
  background-image: radial-gradient(
    circle at 1px 1px,
    oklch(0.86 0.02 213.51 / 0.095) 1px,
    oklch(0.86 0.02 213.51 / 0) 0
  );
  @apply bg-size-[20px_20px];
}
