@import 'tailwindcss/base';

@import 'tailwindcss/components';
@import '@styles/reveal-effects.css';

@import 'tailwindcss/utilities';

:root {
	--fixed-header-height: 74px;

	@media (min-width: theme('screens.lg')) {
		--fixed-header-height: 112px;
	}
}

.projects a:nth-child(6) ~ a {
	@apply hidden;
}
