@import 'tailwindcss/base';

@import 'tailwindcss/components';
@import './components/sticky-navbar.css';
/* @import './components/card.css'; */

@import 'tailwindcss/utilities';

:root {
	--fixed-header-height: theme('height.28');
}
