---
import PageLayout from '@layouts/PageLayout.astro';

const meta = {
	title: 'Jörg Schöneburg - Full-Stack Entwickler in Altenburg | Erfahrung & Leidenschaft',

	description:
		'Erfahren Sie mehr über Jörg Schöneburg, einen leidenschaftlichen Full-Stack Entwickler aus Altenburg mit umfangreicher Expertise. Entdecken Sie maßgeschneiderte Web-Lösungen für Ihr Projekt'
};
---

<PageLayout {meta} bodyClass="home">
	<h1>Hallo Astro</h1>
</PageLayout>
