---
import { getCollection } from 'astro:content';
import { Icon } from 'astro-icon/components';
import Section from '@components/Ui/Section.astro';
import Card from '@components/Ui/Card.astro';
import PageLayout from '@layouts/PageLayout.astro';
import Glow from '@components/Ui/Glow.astro';
import Button from '@components/Ui/Button.astro';
import Dots from '@components/Ui/Dots.astro';
import ContactItem from '@components/Ui/ContactItem.astro';
import Project from '@components/Project/Project.astro';
import Faq from '@components/Faq.astro';
import Hero from '@components/Hero.astro';
import MagicCard from '@components/Ui/MagicCard.astro';

const allProjects = await getCollection('projects');
allProjects.sort((a, b) => (a.data.date < b.data.date ? 1 : -1));

const meta = {
	title: 'Jörg Schöneburg - Full-Stack Entwickler in Altenburg | Erfahrung & Leidenschaft',

	description:
		'Erfahren Sie mehr über Jörg Schöneburg, einen leidenschaftlichen Full-Stack Entwickler aus Altenburg mit umfangreicher Expertise. Entdecken Sie maßgeschneiderte Web-Lösungen für Ihr Projekt'
};
---

<PageLayout {meta} bodyClass="home">
	<Hero slot="hero" />

	<Section id="leistungen">
		<div class="mx-auto px-4 max-w-screen-lg text-center prose lg:prose-lg">
			<h2 class="font-bold text-3xl md:text-5xl"><Dots />Meine Leistungen</h2>
			<p>
				Ich biete Ihnen maßgeschneiderte Web-Lösungen für Ihr Projekt. Egal ob Website, CMS oder ein
				individuelles System, ich unterstütze Sie bei der Umsetzung.
			</p>
		</div>

		<div
			class="z-10 relative gap-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 mx-auto mt-24 mb-6 px-4 max-w-screen-xl cards-wrap"
		>
			<Glow className="top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" />
			<MagicCard title="Card title!">
				<p>If a dog chews shoes whose shoes does he choose?</p>
			</MagicCard>
			<MagicCard title="Card title!">
				<p>If a dog chews shoes whose shoes does he choose?</p>
			</MagicCard>
			<MagicCard title="Card title!">
				<p>If a dog chews shoes whose shoes does he choose?</p>
			</MagicCard>
			<MagicCard title="Card title!">
				<p>If a dog chews shoes whose shoes does he choose?</p>
			</MagicCard>
			<MagicCard title="Card title!">
				<p>If a dog chews shoes whose shoes does he choose?</p>
			</MagicCard>
			<MagicCard title="Card title!">
				<p>If a dog chews shoes whose shoes does he choose?</p>
			</MagicCard>
		</div>
	</Section>

	<Section id="prozess">
		<div class="z-10 relative gap-20 grid grid-cols-1 lg:grid-cols-12 mx-auto px-4 max-w-screen-xl">
			<div class="lg:col-span-5">
				<div class="top-24 sticky prose lg:prose-lg">
					<h3 class="font-bold text-3xl md:text-5xl"><Dots className="mx-0" />Workflow</h3>
					<p>
						Ich entwickle moderne und performante Webseiten und Web-Apps. Dabei setze ich auf
						aktuelle Technologien und Frameworks.
					</p>
					<div
						class="flex sm:flex-row flex-col justify-start items-start sm:items-center gap-8 mt-9"
					>
						<Button href="#kontakt" variant="outline"> Anfrage </Button>
						<Button href="#fragen" variant="neutral"> Fragen? </Button>
					</div>
				</div>
			</div>

			<div class="space-y-24 lg:col-span-7">
				<MagicCard className="mx-auto lg:max-w-md transition-shadow hover:translate-y-0">
					<h3 class="font-bold text-2xl">Schritt 1</h3>
					<p>
						Ich entwickle moderne und performante Webseiten und Web-Apps. Dabei setze ich auf
						aktuelle Technologien und Frameworks.
					</p>

					<svg
						class="lg:hidden block top-full absolute inset-0 fill-white mx-auto w-8 translate-y-5"
						width="52"
						height="61"
						viewBox="0 0 52 61"
						fill="none"
					>
						<path
							d="M23.5251 59.4749C24.892 60.8417 27.108 60.8417 28.4749 59.4749L50.7487 37.201C52.1156 35.8342 52.1156 33.6181 50.7487 32.2513C49.3819 30.8844 47.1658 30.8844 45.799 32.2513L26 52.0503L6.20101 32.2513C4.83418 30.8844 2.6181 30.8844 1.25126 32.2513C-0.115571 33.6181 -0.115571 35.8342 1.25126 37.201L23.5251 59.4749ZM22.5 1.5299e-07L22.5 57L29.5 57L29.5 -1.5299e-07L22.5 1.5299e-07Z"
							fill="white"></path>
					</svg>

					<svg
						class="hidden lg:block top-[75%] -left-24 absolute fill-white w-20"
						viewBox="0 0 92 229"
						fill="none"
					>
						<path
							d="M90.5891 218.177C91.5156 217.576 91.7789 216.337 91.1774 215.411L81.3752 200.314C80.7737 199.388 79.5351 199.124 78.6087 199.726C77.6823 200.327 77.4189 201.566 78.0204 202.492L86.7334 215.912L73.3139 224.625C72.3875 225.226 72.1241 226.465 72.7256 227.391C73.3272 228.318 74.5658 228.581 75.4922 227.98L90.5891 218.177ZM89.5 2C88.9681 0.0720165 88.9669 0.0723472 88.9654 0.0727701C88.9645 0.0730336 88.9626 0.0735497 88.9607 0.074078C88.9569 0.075135 88.9518 0.0765627 88.9453 0.0783633C88.9325 0.0819645 88.9143 0.0870574 88.8911 0.0936604C88.8445 0.106866 88.7773 0.126113 88.6902 0.151547C88.5159 0.202413 88.2616 0.278033 87.9328 0.379577C87.2752 0.582653 86.3191 0.889487 85.107 1.30945C82.6832 2.14922 79.2336 3.44219 75.0998 5.26358C66.8375 8.90411 55.8136 14.6681 44.7797 23.1655C22.6872 40.1793 0.5 68.2129 0.5 112H4.5C4.5 69.7874 25.8128 42.821 47.2203 26.3347C57.9364 18.082 68.6625 12.471 76.7127 8.92401C80.7352 7.15162 84.0825 5.89769 86.4165 5.08902C87.5833 4.68475 88.4963 4.39197 89.1131 4.20148C89.4215 4.10625 89.6558 4.0366 89.8107 3.9914C89.8881 3.9688 89.9457 3.95231 89.9828 3.94179C90.0014 3.93653 90.0148 3.93276 90.023 3.93046C90.0271 3.92931 90.0299 3.92854 90.0314 3.92812C90.0321 3.92792 90.0322 3.92788 90.0326 3.92778C90.0324 3.92784 90.0319 3.92798 89.5 2ZM0.5 112C0.5 155.806 22.7077 182.484 44.8455 198.133C55.8943 205.943 66.9308 211.016 75.2001 214.137C79.3376 215.698 82.7904 216.774 85.2167 217.461C86.43 217.805 87.3873 218.052 88.0459 218.214C88.3753 218.294 88.63 218.354 88.8047 218.394C88.8921 218.414 88.9595 218.429 89.0063 218.439C89.0297 218.445 89.0479 218.448 89.0609 218.451C89.0674 218.453 89.0726 218.454 89.0764 218.455C89.0783 218.455 89.0802 218.455 89.0812 218.456C89.0828 218.456 89.084 218.456 89.5 216.5C89.916 214.544 89.9166 214.544 89.9168 214.544C89.9164 214.544 89.9164 214.544 89.9156 214.544C89.9142 214.543 89.9115 214.543 89.9074 214.542C89.8993 214.54 89.886 214.537 89.8676 214.533C89.8307 214.525 89.7733 214.512 89.6961 214.495C89.5417 214.459 89.3078 214.405 89 214.329C88.3842 214.178 87.4723 213.943 86.3068 213.613C83.9752 212.952 80.6312 211.911 76.6124 210.394C68.5692 207.359 57.8557 202.431 47.1545 194.867C25.7923 179.766 4.5 154.194 4.5 112H0.5Z"
							fill="currentColor"></path>
					</svg>
				</MagicCard>
				<MagicCard className="mx-auto lg:max-w-md transition-shadow hover:translate-y-0">
					<h3 class="font-bold text-2xl">Schritt 2</h3>
					<p>
						Ich entwickle moderne und performante Webseiten und Web-Apps. Dabei setze ich auf
						aktuelle Technologien und Frameworks.
					</p>

					<svg
						class="lg:hidden block top-full absolute inset-0 fill-white mx-auto w-8 translate-y-5"
						width="52"
						height="61"
						viewBox="0 0 52 61"
						fill="none"
					>
						<path
							d="M23.5251 59.4749C24.892 60.8417 27.108 60.8417 28.4749 59.4749L50.7487 37.201C52.1156 35.8342 52.1156 33.6181 50.7487 32.2513C49.3819 30.8844 47.1658 30.8844 45.799 32.2513L26 52.0503L6.20101 32.2513C4.83418 30.8844 2.6181 30.8844 1.25126 32.2513C-0.115571 33.6181 -0.115571 35.8342 1.25126 37.201L23.5251 59.4749ZM22.5 1.5299e-07L22.5 57L29.5 57L29.5 -1.5299e-07L22.5 1.5299e-07Z"
							fill="white"></path>
					</svg>

					<svg
						class="hidden lg:block top-[75%] -right-24 absolute fill-white w-20"
						viewBox="0 0 91 229"
						fill="none"
					>
						<path
							d="M0.910867 218.177C-0.0155548 217.576 -0.278947 216.337 0.322565 215.411L10.1248 200.314C10.7263 199.388 11.9649 199.124 12.8913 199.726C13.8177 200.327 14.0811 201.566 13.4796 202.492L4.76657 215.912L18.1861 224.625C19.1125 225.226 19.3759 226.465 18.7744 227.391C18.1728 228.318 16.9342 228.581 16.0078 227.98L0.910867 218.177ZM2 2C2.53186 0.0720165 2.53306 0.0723472 2.53459 0.0727701C2.53554 0.0730336 2.5374 0.0735497 2.53931 0.074078C2.54311 0.075135 2.54824 0.0765627 2.55467 0.0783633C2.56755 0.0819645 2.58566 0.0870574 2.60893 0.0936604C2.65548 0.106866 2.72267 0.126113 2.80982 0.151547C2.98414 0.202413 3.23837 0.278033 3.56718 0.379577C4.22478 0.582653 5.18095 0.889487 6.39304 1.30945C8.81683 2.14922 12.2664 3.44219 16.4002 5.26358C24.6625 8.90411 35.6864 14.6681 46.7203 23.1655C68.8128 40.1793 91 68.2129 91 112H87C87 69.7874 65.6872 42.821 44.2797 26.3347C33.5636 18.082 22.8375 12.471 14.7873 8.92401C10.7648 7.15162 7.41755 5.89769 5.08352 5.08902C3.91671 4.68475 3.00374 4.39197 2.38692 4.20148C2.07853 4.10625 1.84423 4.0366 1.68932 3.9914C1.61187 3.9688 1.55427 3.95231 1.51718 3.94179C1.49864 3.93653 1.48522 3.93276 1.47702 3.93046C1.47292 3.92931 1.47012 3.92854 1.46864 3.92812C1.4679 3.92792 1.46777 3.92788 1.4674 3.92778C1.4676 3.92784 1.46814 3.92798 2 2ZM91 112C91 155.806 68.7923 182.484 46.6545 198.133C35.6057 205.943 24.5692 211.016 16.2999 214.137C12.1624 215.698 8.7096 216.774 6.28335 217.461C5.06999 217.805 4.11268 218.052 3.45407 218.214C3.12474 218.294 2.87003 218.354 2.69526 218.394C2.60787 218.414 2.54046 218.429 2.4937 218.439C2.47032 218.445 2.45209 218.448 2.43912 218.451C2.43263 218.453 2.42745 218.454 2.42359 218.455C2.42166 218.455 2.41976 218.455 2.4188 218.456C2.41723 218.456 2.41599 218.456 2 216.5C1.58401 214.544 1.58343 214.544 1.58319 214.544C1.58355 214.544 1.58364 214.544 1.58435 214.544C1.58579 214.543 1.58853 214.543 1.59258 214.542C1.60068 214.54 1.61398 214.537 1.63242 214.533C1.66929 214.525 1.72666 214.512 1.80389 214.495C1.95834 214.459 2.19215 214.405 2.50003 214.329C3.11583 214.178 4.02767 213.943 5.19322 213.613C7.52477 212.952 10.8688 211.911 14.8876 210.394C22.9308 207.359 33.6443 202.431 44.3455 194.867C65.7077 179.766 87 154.194 87 112H91Z"
							fill="currentColor"></path>
					</svg>
				</MagicCard>
				<MagicCard className="mx-auto lg:max-w-md transition-shadow hover:translate-y-0">
					<h3 class="font-bold text-2xl">Schritt 3</h3>
					<p>
						Ich entwickle moderne und performante Webseiten und Web-Apps. Dabei setze ich auf
						aktuelle Technologien und Frameworks.
					</p>

					<svg
						class="lg:hidden block top-full absolute inset-0 fill-white mx-auto w-8 translate-y-5"
						width="52"
						height="61"
						viewBox="0 0 52 61"
						fill="none"
					>
						<path
							d="M23.5251 59.4749C24.892 60.8417 27.108 60.8417 28.4749 59.4749L50.7487 37.201C52.1156 35.8342 52.1156 33.6181 50.7487 32.2513C49.3819 30.8844 47.1658 30.8844 45.799 32.2513L26 52.0503L6.20101 32.2513C4.83418 30.8844 2.6181 30.8844 1.25126 32.2513C-0.115571 33.6181 -0.115571 35.8342 1.25126 37.201L23.5251 59.4749ZM22.5 1.5299e-07L22.5 57L29.5 57L29.5 -1.5299e-07L22.5 1.5299e-07Z"
							fill="white"></path>
					</svg>

					<svg
						class="hidden lg:block top-[75%] -left-24 absolute fill-white w-20"
						viewBox="0 0 92 229"
						fill="none"
					>
						<path
							d="M90.5891 218.177C91.5156 217.576 91.7789 216.337 91.1774 215.411L81.3752 200.314C80.7737 199.388 79.5351 199.124 78.6087 199.726C77.6823 200.327 77.4189 201.566 78.0204 202.492L86.7334 215.912L73.3139 224.625C72.3875 225.226 72.1241 226.465 72.7256 227.391C73.3272 228.318 74.5658 228.581 75.4922 227.98L90.5891 218.177ZM89.5 2C88.9681 0.0720165 88.9669 0.0723472 88.9654 0.0727701C88.9645 0.0730336 88.9626 0.0735497 88.9607 0.074078C88.9569 0.075135 88.9518 0.0765627 88.9453 0.0783633C88.9325 0.0819645 88.9143 0.0870574 88.8911 0.0936604C88.8445 0.106866 88.7773 0.126113 88.6902 0.151547C88.5159 0.202413 88.2616 0.278033 87.9328 0.379577C87.2752 0.582653 86.3191 0.889487 85.107 1.30945C82.6832 2.14922 79.2336 3.44219 75.0998 5.26358C66.8375 8.90411 55.8136 14.6681 44.7797 23.1655C22.6872 40.1793 0.5 68.2129 0.5 112H4.5C4.5 69.7874 25.8128 42.821 47.2203 26.3347C57.9364 18.082 68.6625 12.471 76.7127 8.92401C80.7352 7.15162 84.0825 5.89769 86.4165 5.08902C87.5833 4.68475 88.4963 4.39197 89.1131 4.20148C89.4215 4.10625 89.6558 4.0366 89.8107 3.9914C89.8881 3.9688 89.9457 3.95231 89.9828 3.94179C90.0014 3.93653 90.0148 3.93276 90.023 3.93046C90.0271 3.92931 90.0299 3.92854 90.0314 3.92812C90.0321 3.92792 90.0322 3.92788 90.0326 3.92778C90.0324 3.92784 90.0319 3.92798 89.5 2ZM0.5 112C0.5 155.806 22.7077 182.484 44.8455 198.133C55.8943 205.943 66.9308 211.016 75.2001 214.137C79.3376 215.698 82.7904 216.774 85.2167 217.461C86.43 217.805 87.3873 218.052 88.0459 218.214C88.3753 218.294 88.63 218.354 88.8047 218.394C88.8921 218.414 88.9595 218.429 89.0063 218.439C89.0297 218.445 89.0479 218.448 89.0609 218.451C89.0674 218.453 89.0726 218.454 89.0764 218.455C89.0783 218.455 89.0802 218.455 89.0812 218.456C89.0828 218.456 89.084 218.456 89.5 216.5C89.916 214.544 89.9166 214.544 89.9168 214.544C89.9164 214.544 89.9164 214.544 89.9156 214.544C89.9142 214.543 89.9115 214.543 89.9074 214.542C89.8993 214.54 89.886 214.537 89.8676 214.533C89.8307 214.525 89.7733 214.512 89.6961 214.495C89.5417 214.459 89.3078 214.405 89 214.329C88.3842 214.178 87.4723 213.943 86.3068 213.613C83.9752 212.952 80.6312 211.911 76.6124 210.394C68.5692 207.359 57.8557 202.431 47.1545 194.867C25.7923 179.766 4.5 154.194 4.5 112H0.5Z"
							fill="currentColor"></path>
					</svg>
				</MagicCard>
				<MagicCard className="mx-auto lg:max-w-md transition-shadow hover:translate-y-0">
					<h3 class="font-bold text-2xl">Schritt 4</h3>
					<p>
						Ich entwickle moderne und performante Webseiten und Web-Apps. Dabei setze ich auf
						aktuelle Technologien und Frameworks.
					</p>
				</MagicCard>
			</div>
			<Glow className="top-auto md:right-0 bottom-12 md:left-auto w-[400px] h-[400px]" />
		</div>
	</Section>

	<Section id="portfolio">
		<div class="mx-auto px-4 max-w-screen-lg text-center prose lg:prose-lg">
			<h2 class="font-bold text-3xl md:text-3xl lg:text-5xl"><Dots />Meine Projekte</h2>
			<p class="text-lg">
				Ich habe bereits an vielen spannenden Projekten gearbeitet. <br /> Hier finden Sie eine Auswahl
				meiner Arbeiten.
			</p>
		</div>

		<div class="z-10 relative mx-auto mt-24 px-4 max-w-screen-xl">
			<Glow className="top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" />
			<div class="gap-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 projects">
				{allProjects.map((project) => <Project project={project} />)}
			</div>
		</div>
		<nav class="flex justify-center pt-16">
			<Button className="ajax-load-more" href="#">Mehr Projekte</Button>
		</nav>
	</Section>

	<Section id="fragen">
		<div class="mx-auto px-4 max-w-screen-lg text-center prose">
			<h2 class="font-bold text-3xl md:text-5xl"><Dots />Fragen?</h2>
			<p class="text-lg">
				Haben Sie Fragen oder möchten Sie mehr über meine Leistungen erfahren? <br /> Kontaktieren Sie
				mich gerne.
			</p>
		</div>
		<div class="z-10 relative grid-cols-3 mx-auto mt-24 px-4 max-w-screen-xl">
			<Glow className="right-0 left-auto" />

			<Faq />
		</div>
	</Section>

	<Section id="kontakt">
		<div class="mx-auto px-4 max-w-screen-lg text-center prose lg:prose-lg">
			<h2 class="font-bold text-3xl md:text-3xl lg:text-5xl"><Dots />Kontakt</h2>
			<p class="text-lg">
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam aspernatur error nobis
				sequi, odio, omnis ducimus sunt, eius dignissimos commodi maiores veniam consequatur
				temporibus voluptate. Eius facilis ipsa tempore cum?
			</p>
		</div>
		<div
			class="z-10 relative place-items-center gap-8 grid grid-cols-1 lg:grid-cols-2 mx-auto mt-24 mb-6 px-4 max-w-screen-xl"
		>
			<div>
				<ul>
					<ContactItem
						icon="mdi:map-outline"
						title="Adresse"
						text="Heinrich-Heine-Straße 34, 04600 Altenburg"
					/>
					<ContactItem
						icon="mdi:email-outline"
						title="E-Mail"
						isMail={true}
						text="info@joerg-schoeneburg.de"
					/>

					<ContactItem
						icon="mdi:phone-outline"
						title="Telefon"
						text="03447-487890"
						isPhone={true}
					/>
				</ul>
			</div>

			<Card className="w-full transition-shadow hover:translate-y-0">
				<form id="kontakt-form" class="space-y-8 mb-8" method="post">
					<div class="gap-8 grid grid-cols-1 lg:grid-cols-2">
						<label class="gap-3 w-full form-control">
							<span class="label-text">Ihr Name *</span>
							<input
								type="text"
								name="name"
								class="bg-neutral border-2 border-white/5 rounded-lg w-full input"
								required
							/>
						</label>
						<label class="gap-3 w-full form-control">
							<span class="label-text">E-Mail Adresse *</span>
							<input
								type="email"
								name="email"
								class="bg-neutral border-2 border-white/5 rounded-lg w-full input"
								required
							/>
						</label>
					</div>
					<div class="gap-8 grid grid-cols-1 lg:grid-cols-2">
						<label class="gap-3 w-full form-control">
							<span class="label-text">Telefonummer</span>
							<input
								type="text"
								name="name"
								class="bg-neutral border-2 border-white/5 rounded-lg w-full input"
							/>
						</label>
						<label class="gap-3 w-full form-control">
							<span class="label-text">Betreff</span>
							<input
								type="email"
								name="email"
								class="bg-neutral border-2 border-white/5 rounded-lg w-full input"
							/>
						</label>
					</div>

					<label class="gap-3 w-full form-control">
						<span class="label-text">Ihr Anliegen *</span>
						<textarea
							class="bg-neutral border-2 border-white/5 rounded-lg w-full h-32 textarea"
							required></textarea>
					</label>

					<div class="form-control">
						<label class="justify-start gap-3 cursor-pointer label">
							<input type="checkbox" class="checkbox" name="datenschutz" required />
							<span class="label-text"
								>Ich habe die Datenschutzerklärung gelesen und stimme ihr zu.
							</span>
						</label>
					</div>

					<div
						class="inline-block bg-gradient-to-r from-primary to-accent hover:shadow-2xl p-[0.05rem] rounded-btn hover:scale-[1.025] transition-transform duration-300 cursor-pointer will-change-transform transform"
					>
						<button
							type="submit"
							class="bg-base-100 hover:bg-base-200 shadow-md px-12 btn-outline h-14 min-h-14 font-normal hover:text-neutral-content text-base btn no-animation"
						>
							Absenden
						</button>
					</div>
				</form>

				<span class="self-end gap-2 border-2 border-white/5 h-8 badge">
					<Icon name="mdi:info" />
					Felder mit * müssen ausgefüllt werden!</span
				>
			</Card>
		</div>
	</Section>
</PageLayout>
