---
import { getCollection } from 'astro:content';
import { Icon } from 'astro-icon/components';
import Section from '@components/Ui/Section.astro';
import Card from '@components/Ui/Card.astro';
import PageLayout from '@layouts/PageLayout.astro';
import Glow from '@components/Ui/Glow.astro';
import Button from '@components/Ui/Button.astro';
import Dots from '@components/Ui/Dots.astro';
import ContactItem from '@components/Ui/ContactItem.astro';
import Project from '@components/Project/Project.astro';
import Faq from '@components/Faq.astro';
import Hero from '@components/Hero.astro';
import MagicCard from '@components/Ui/MagicCard.astro';
import EyebrowHeading from '@components/Ui/EyebrowHeading.astro';

const allProjects = await getCollection('projects');
allProjects.sort((a, b) => (a.data.date < b.data.date ? 1 : -1));

const meta = {
  title: 'Jörg Schöneburg - Full-Stack Entwickler in Altenburg | Erfahrung & Leidenschaft',

  description:
    'Erfahren Sie mehr über Jörg Schöneburg, einen leidenschaftlichen Full-Stack Entwickler aus Altenburg mit umfangreicher Expertise. Entdecken Sie maßgeschneiderte Web-Lösungen für Ihr Projekt',
};
---

<PageLayout {meta} bodyClass="home">
  <Hero slot="hero" />

  <Section
    id="leistungen"
    className="bg-[radial-gradient(circle_at_30%_50%,var(--color-primary)_-200%,transparent_25%),radial-gradient(circle_at_70%_60%,var(--color-accent)_-200%,transparent_20%)]"
  >
    <div
      class="reveal-fx--translate-up reveal-fx prose mx-auto max-w-7xl px-4 text-center lg:prose-lg prose-h2:mt-0"
    >
      <EyebrowHeading icon="mdi:star-outline" text="Meine Leistungen" />
      <h2 class="text-3xl font-bold md:text-3xl lg:text-5xl">
        Maßgeschneiderte Web-Lösungen <br /> für <span class="text-primary">Ihr Projekt</span>
      </h2>
      <p>
        Ich biete Ihnen maßgeschneiderte Web-Lösungen für Ihr Projekt. <br /> Egal ob Website, CMS oder
        ein individuelles System, ich unterstütze Sie bei der Umsetzung.
      </p>
    </div>

    <div
      class="reveal-fx--translate-up cards-wrap reveal-fx relative z-10 mx-auto mb-6 mt-24 grid max-w-7xl grid-cols-1 gap-8 px-4 sm:grid-cols-2 lg:grid-cols-3"
    >
      <MagicCard title="Card title!" icon="mdi:cellphone-text">
        <p>If a dog chews shoes whose shoes does he choose?</p>
      </MagicCard>
      <MagicCard title="Card title!" icon="mdi:star-outline">
        <p>If a dog chews shoes whose shoes does he choose?</p>
      </MagicCard>
      <MagicCard title="Card title!" icon="mdi:auto-fix">
        <p>If a dog chews shoes whose shoes does he choose?</p>
      </MagicCard>
      <MagicCard title="Card title!" icon="mdi:thunder-outline">
        <p>If a dog chews shoes whose shoes does he choose?</p>
      </MagicCard>
      <MagicCard title="Card title!" icon="mdi:code-block-braces">
        <p>If a dog chews shoes whose shoes does he choose?</p>
      </MagicCard>
      <MagicCard title="Card title!" icon="mdi:checkbox-marked-circle-outline">
        <p>If a dog chews shoes whose shoes does he choose?</p>
      </MagicCard>
    </div>
  </Section>

  <Section id="prozess">
    <div
      class="reveal-fx--translate-up reveal-fx relative z-10 mx-auto grid max-w-7xl grid-cols-1 gap-20 px-4 lg:grid-cols-12"
    >
      <div class="lg:col-span-5">
        <div class="prose sticky top-24 lg:prose-lg prose-h2:mt-0">
          <EyebrowHeading icon="mdi:workflow-outline" text="Der Prozess" />
          <h2 class="text-3xl font-bold md:text-3xl lg:text-5xl">
            Wie ich <span class="text-primary">Ihr Projekt</span> umsetze
          </h2>
          <p>
            Ich arbeite mit Ihnen zusammen, um Ihr Projekt zu verwirklichen. Dabei verwende ich
            moderne Technologien und Frameworks.
          </p>
          <div
            class="mt-9 flex flex-col items-start justify-start gap-8 sm:flex-row sm:items-center"
          >
            <Button href="#kontakt" variant="outline">
              <Icon name="mdi:message-outline" class="w-5 h-5" /> Anfrage stellen
            </Button>
            <Button href="#fragen" className="group">
              Fragen? <Icon
                name="mdi:arrow-right"
                class="w-5 h-5 group-hover:translate-x-2 transition-transform duration-200 will-change-transform"
              />
            </Button>
          </div>
        </div>
      </div>

      <div class="space-y-24 lg:col-span-7">
        <MagicCard className="mx-auto transition-shadow hover:translate-y-0 lg:max-w-md">
          <h3 class="text-2xl font-bold group-hover:text-primary">Schritt 1</h3>
          <p>
            Ich entwickle moderne und performante Webseiten und Web-Apps. Dabei setze ich auf
            aktuelle Technologien und Frameworks.
          </p>
        </MagicCard>
        <MagicCard className="mx-auto transition-shadow hover:translate-y-0 lg:max-w-md">
          <h3 class="text-2xl font-bold group-hover:text-primary">Schritt 2</h3>
          <p>
            Ich entwickle moderne und performante Webseiten und Web-Apps. Dabei setze ich auf
            aktuelle Technologien und Frameworks.
          </p>
        </MagicCard>
        <MagicCard className="mx-auto transition-shadow hover:translate-y-0 lg:max-w-md">
          <h3 class="text-2xl font-bold group-hover:text-primary">Schritt 3</h3>
          <p>
            Ich entwickle moderne und performante Webseiten und Web-Apps. Dabei setze ich auf
            aktuelle Technologien und Frameworks.
          </p>
        </MagicCard>
        <MagicCard className="mx-auto transition-shadow hover:translate-y-0 lg:max-w-md">
          <h3 class="text-2xl font-bold group-hover:text-primary">Schritt 4</h3>
          <p>
            Ich entwickle moderne und performante Webseiten und Web-Apps. Dabei setze ich auf
            aktuelle Technologien und Frameworks.
          </p>
        </MagicCard>
      </div>
    </div>
  </Section>

  <Section
    id="portfolio"
    className="bg-[radial-gradient(circle_at_30%_50%,var(--color-primary)_-200%,transparent_35%),radial-gradient(circle_at_70%_60%,var(--color-accent)_-200%,transparent_25%)]"
  >
    <div
      class="reveal-fx--translate-up reveal-fx prose mx-auto max-w-7xl px-4 text-center lg:prose-lg prose-h2:mt-0"
    >
      <EyebrowHeading icon="mdi:briefcase-outline" text="Portfolio" />
      <h2 class="text-3xl font-bold md:text-3xl lg:text-5xl">
        Ausgewählte <span class="text-primary">Projekte</span>
      </h2>
      <p class="text-lg">
        Ich habe bereits an vielen spannenden Projekten gearbeitet. <br /> Hier finden Sie eine Auswahl
        meiner Arbeiten. <br /> Klicken Sie auf ein Projekt, um mehr über das Projekt zu erfahren.
      </p>
    </div>

    <div class="reveal-fx--translate-up reveal-fx relative z-10 mx-auto mt-24 max-w-7xl px-4">
      <div class="projects grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
        {allProjects.map(project => <Project project={project} />)}
      </div>
    </div>
    <nav class="reveal-fx--translate-up reveal-fx flex justify-center px-4 pt-16">
      <Button className="ajax-load-more" href="#"
        >Mehr Projekte
        <Icon name="mdi:arrow-bottom" class="w-5 h-5" />
      </Button>
    </nav>
  </Section>

  <Section
    id="fragen"
    className="bg-[radial-gradient(circle_at_30%_50%,var(--color-primary)_-200%,transparent_25%),radial-gradient(circle_at_70%_60%,var(--color-accent)_-200%,transparent_20%)]"
  >
    <div
      class="reveal-fx--translate-up reveal-fx prose mx-auto max-w-7xl px-4 text-center lg:prose-lg prose-h2:mt-0"
    >
      <EyebrowHeading icon="mdi:frequently-asked-questions" text="FAQ" />
      <h2 class="text-3xl font-bold md:text-3xl lg:text-5xl">
        Sie haben noch <span class="text-primary">Fragen?</span>
      </h2>
      <p class="text-lg">Hier finden Sie die Antworten auf die häufigsten Fragen.</p>
    </div>
    <div class="relative z-10 mx-auto mt-24 max-w-7xl grid-cols-3 px-4">
      <Faq />
    </div>
  </Section>

  <Section id="kontakt">
    <div
      class="reveal-fx--translate-up reveal-fx prose mx-auto max-w-7xl px-4 text-center lg:prose-lg prose-h2:mt-0"
    >
      <EyebrowHeading icon="mdi:message-outline" text="Kontakt" />
      <h2 class="text-3xl font-bold md:text-3xl lg:text-5xl">Ich bin für Sie da!</h2>
      <p class="text-lg">
        Haben Sie Fragen, möchten Sie mehr über meine Leistungen erfahren oder haben Sie ein Projekt
        für mich? <br /> Dann kontaktieren Sie mich gerne.
      </p>
    </div>
    <div
      class="reveal-fx--translate-up reveal-fx relative z-10 mx-auto mb-6 mt-24 grid max-w-7xl grid-cols-1 place-items-center gap-8 px-4 lg:grid-cols-2"
    >
      <div>
        <ul>
          <ContactItem
            icon="mdi:map-outline"
            title="Adresse"
            text="Heinrich-Heine-Straße 34, 04600 Altenburg"
          />
          <ContactItem
            icon="mdi:email-outline"
            title="E-Mail"
            isMail={true}
            text="info@joerg-schoeneburg.de"
          />

          <ContactItem
            icon="mdi:phone-outline"
            title="Telefon"
            text="03447-487890"
            isPhone={true}
          />
        </ul>
      </div>

      <Card
        className="w-full p-4 bg-linear-to-br from-primary/10 from-0% via-base-100 via-50% to-primary/10 to-100% transition-shadow hover:translate-y-0"
      >
        <form id="kontakt-form" class="mb-8 space-y-8" method="post">
          <div class="grid grid-cols-1 gap-8 lg:grid-cols-2">
            <label class="form-control w-full gap-3" for="name">
              <span class="label-text">Ihr Name *</span>
              <input
                type="text"
                name="name"
                class="input"
                placeholder="Ihr Name"
                required
                id="name"
              />
            </label>
            <label class="form-control w-full gap-3" for="email">
              <span class="label-text">E-Mail Adresse *</span>
              <input
                type="email"
                name="email"
                id="email"
                class="input"
                placeholder="Ihre E-Mail Adresse"
                required
              />
            </label>
          </div>

          <div class="grid grid-cols-1 gap-8 lg:grid-cols-2">
            <label class="form-control w-full gap-3" for="telefon">
              <span class="label-text">Telefonummer</span>
              <input
                type="text"
                name="telefon"
                class="input"
                placeholder="Ihre Telefonnummer"
                id="telefon"
              />
            </label>
            <label class="form-control w-full gap-3" for="betreff">
              <span class="label-text">Betreff</span>
              <input
                type="text"
                name="betreff"
                class="input"
                placeholder="Ihre Anfrage"
                id="betreff"
              />
            </label>
          </div>

          <label class="form-control w-full gap-3" for="anliegen">
            <span class="label-text">Ihr Anliegen *</span>
            <textarea
              class="textarea w-full"
              placeholder="Was möchten Sie mir mitteilen?"
              required
              id="anliegen"></textarea>
          </label>

          <div class="form-control">
            <label class="label cursor-pointer justify-start gap-3" for="datenschutz">
              <input
                type="checkbox"
                class="checkbox"
                name="datenschutz"
                required
                id="datenschutz"
              />
              <span class="label-text"
                >Ich habe die Datenschutzerklärung gelesen und stimme ihr zu.
              </span>
            </label>
          </div>

          <div
            class="group inline-block w-full transform cursor-pointer rounded-btn bg-primary p-[0.05rem] transition-transform duration-200 will-change-transform hover:shadow-md"
          >
            <button
              type="submit"
              class="btn btn-primary no-underline no-animation h-14 min-h-14 w-[inherit] px-12 text-base font-normal shadow-sm"
            >
              Absenden
              <Icon
                name="mdi:arrow-right"
                class="w-5 h-5 group-hover:translate-x-2 transition-transform duration-200 will-change-transform"
              />
            </button>
          </div>
        </form>

        <span class="badge h-8 gap-2 self-end border-2 border-white/5">
          <Icon name="mdi:info" />
          Felder mit * müssen ausgefüllt werden!</span
        >
      </Card>
    </div>
  </Section>
</PageLayout>
