---
import NavBar from '@components/Header/NavBar.astro';
---

<header id="masthead" class="top-0 z-20 fixed w-full main-header">
  <div class="sr-only skip-links"><a href="#main-content">Zum Inhalt springen</a></div>
  <NavBar />
</header>
