---
import NavBar from '@components/Header/NavBar.astro';
import NavBar2 from './NavBar2.astro';
---

<header id="masthead" class="main-header relative top-0 z-20">
	<div class="skip-links sr-only"><a href="#main-content">Skip to main content</a></div>
	<NavBar2 />
</header>
