---
import NavBar from '@components/Header/NavBar.astro';

// import '@styles/sticky-navbar.css';
---

<header id="masthead" class="top-0 z-20 fixed w-full main-header">
  <div class="sr-only skip-links"><a href="#main-content">Skip to main content</a></div>
  <NavBar />
</header>
