---
import NavBar from '@components/Header/NavBar.astro';
import NavBar2 from '@components/Header/NavBar2.astro';
---

<header id="masthead" class="main-header fixed top-0 z-20 w-full">
	<div class="skip-links sr-only"><a href="#main-content">Skip to main content</a></div>
	<NavBar2 />
</header>
