---
import { SITE } from 'src/config';
import Button from '@components/Ui/Button.astro';

const navLinks = SITE.links;
---

<div
	class="navbar mx-auto h-[--fixed-header-height] max-w-screen-xl border-b border-b-white/5 px-4"
>
	<div class="navbar-start translate-x-0 opacity-100">
		<a
			class="btn btn-circle btn-outline btn-primary flex aspect-1 items-center justify-center text-xl font-bold shadow-2xl lg:h-16 lg:w-16 lg:text-4xl"
			href="/"
		>
			JS
		</a>
	</div>
	<div class="navbar-center hidden lg:flex">
		<ul class="menu menu-horizontal items-center gap-8 rounded-btn border border-transparent">
			{
				navLinks.map((item) => (
					<li>
						<a class="btn btn-ghost inline-flex flex-nowrap py-0 text-base" href={item.href}>
							{item.name}
						</a>
					</li>
				))
			}
		</ul>
	</div>
	<div class="navbar-end">
		<div class="dropdown dropdown-end">
			<div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="h- fill=
					w-6"
					none"
					viewBox="0 0 24 24"
					stroke="currentColor"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M4 6h16M4 12h8m-8 6h16"></path>
				</svg>
			</div>
			<ul
				class="menu dropdown-content menu-sm z-[1] mt-3 w-52 items-start rounded-box bg-base-100 shadow-lg"
				tabindex="0"
			>
				{
					navLinks.map((item) => (
						<li class="flex w-full">
							<a
								class="btn btn-ghost inline-flex w-full flex-nowrap justify-start py-0 text-left text-base"
								href={item.href}
							>
								{item.name}
							</a>
						</li>
					))
				}
			</ul>
		</div>
		<div class="hidden lg:block">
			<Button href="#kontakt" variant="outline"> Kontakt </Button>
		</div>
	</div>
</div>

<script>
	const navbar = document.querySelector('.navbar');
	window.addEventListener('scroll', () => {
		if (window.scrollY > 50) {
			navbar.classList.add('sticky-navbar');
		} else {
			navbar.classList.remove('sticky-navbar');
		}
	});
</script>
