---
import { SITE } from 'src/config';
import Button from '@components/Ui/Button.astro';

const navLinks = SITE.links;
---

<div class="navbar mx-auto h-28 max-w-screen-xl border-b border-b-white/5 px-4">
	<div class="navbar-start">
		<a
			class="btn btn-circle btn-outline btn-primary flex h-16 w-16 items-center justify-center text-4xl font-bold shadow-2xl"
			href="/"
		>
			JS
		</a>
	</div>
	<div class="navbar-center hidden md:flex">
		<ul class="menu menu-horizontal items-center gap-8">
			{
				navLinks.map((item) => (
					<li>
						<a class="btn btn-ghost inline-flex flex-nowrap py-0 text-base" href={item.href}>
							{item.name}
						</a>
					</li>
				))
			}
		</ul>
	</div>
	<div class="navbar-end">
		<Button href="#kontakt" variant="outline"> Kontakt </Button>
	</div>
</div>
