---
import { SITE } from '../config';

const { faq } = SITE;
---

<div
  class="reveal-fx--translate-up reveal-fx group join join-vertical w-full rounded-lg shadow-sm transition-shadow duration-200 hover:shadow-md"
>
  {
    faq.map((item, index) => (
      <div class="collapse join-item collapse-arrow border border-primary/20 bg-base-100/75 backdrop-blur transition-all duration-200 group-hover:border-primary/40 hover:border-primary/40">
        <input type="radio" name="faq-accordion" />
        <div class="collapse-title text-xl font-medium">{item.question}</div>
        <div class="collapse-content">
          <p>{item.answer}</p>
        </div>
      </div>
    ))
  }
</div>
