---
import { SITE } from '../../config';

const { footerLinks } = SITE;
---

<div class="mt-24 border-t-2 border-white/5 bg-base-200/60 backdrop-blur"></div>
<footer class="footer mx-auto max-w-screen-xl justify-between p-10 text-lg">
	<aside>
		<p class="mb-4 text-center font-bold md:mb-0 md:text-left">
			Built with <span class="px-1 text-2xl text-primary">♡</span>
			by&nbsp;Jörg Schöneburg
		</p>
	</aside>
	<nav class="grid grid-flow-col gap-6">
		{
			footerLinks.map((item) => (
				<a class="link-hover link" href={item.href}>
					{item.name}
				</a>
			))
		}
	</nav>
</footer>
