---
import { Icon } from 'astro-icon/components';
import { SITE } from '../../config';

const { footerLinks } = SITE;
---

<div class="border-t-2 border-white/5 bg-base-200/60 backdrop-blur"></div>
<footer
  class="flex flex-col md:flex-row mx-auto max-w-7xl items-center p-10 text-lg md:justify-between w-full"
>
  <aside class="order-last w-full md:order-first">
    <p class="mb-4 w-full text-center text-base flex gap-1.5 font-bold md:mb-0 md:text-left">
      Built with <span class="px-1 text-2xl text-primary -mt-1">♡</span>
      by
      <a
        class="text-base group relative transition duration-200 focus:outline-none focus-visible:ring focus-visible:ring-white/50 focus-visible:ring-inset"
        aria-label="Jörg Schöneburg Webseite (öffnet in neuem Fenster)"
        href="https://joerg-schoeneburg.de"
        target="_blank"
      >
        <span
          class="inline-block text-primary transition duration-300 ease-out group-hover:-translate-x-0.5 group-hover:text-secondary"
        >
          {'{'}
        </span>
        <span class="font-bold"> Jörg Schöneburg </span>
        <span
          class="inline-block text-primary transition duration-300 ease-out group-hover:translate-x-0.5 group-hover:text-secondary"
        >
          {'}'}
        </span>
        <span
          class="absolute -bottom-0.5 left-3 h-px w-[84%] origin-right scale-x-0 bg-current transition duration-300 ease-out will-change-transform group-hover:origin-left group-hover:scale-x-100"
        ></span>
      </a>
    </p>
  </aside>
  <nav
    class="flex flex-col md:flex-row w-full items-center justify-end gap-4 md:gap-12 md:mb-0 mb-8"
  >
    <a
      class="link-hover link flex items-center gap-2 text-base"
      href="https://github.com/jswebschmiede"
      target="_blank"
    >
      <Icon name="mdi:github" class="w-6 h-6" />
      <span>Github</span>
    </a>
    {
      footerLinks.map(item => (
        <a class="link-hover link text-base" href={item.href}>
          {item.name}
        </a>
      ))
    }
  </nav>
</footer>
