---
import { Icon } from 'astro-icon/components';
import { SITE } from '../../config';

const { footerLinks } = SITE;
---

<div class="border-t-2 border-white/5 bg-base-200/60 backdrop-blur"></div>
<footer class="flex mx-auto max-w-7xl items-center p-10 text-lg md:justify-between">
  <aside class="order-last w-full md:order-first">
    <p class="mb-4 w-full text-center text-base font-bold md:mb-0 md:text-left">
      Built with <span class="px-1 text-2xl text-primary">♡</span>
      by&nbsp; <a
        class="link-hover link text-base"
        href="https://www.joerg-schoeneburg.de"
        target="_blank">Jörg Schöneburg</a
      >
    </p>
  </aside>
  <nav class="flex w-full items-center justify-end gap-12">
    <a
      class="link-hover link flex items-center gap-2 text-base"
      href="https://github.com/jswebschmiede"
      target="_blank"
    >
      <Icon name="mdi:github" class="w-6 h-6" />
      <span>Github</span>
    </a>
    {
      footerLinks.map(item => (
        <a class="link-hover link text-base" href={item.href}>
          {item.name}
        </a>
      ))
    }
  </nav>
</footer>
