---
import '@fontsource/poppins/300.css';
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/600.css';
import '@fontsource/poppins/700.css';
import '@fontsource/poppins/800.css';
import '@fontsource/poppins/900.css';
import { SITE } from '../config';
import type { MetaSEO } from '../types';
import '../styles/global.css';
import MetaTags from '@components/MetaTags.astro';
import BasicScripts from '@components/BasicScripts.astro';
import ProgressToTopButton from '@components/Ui/ProgressToTopButton.astro';
import MouseFollow from '@components/Ui/MouseFollow.astro';

export interface Props {
	meta?: MetaSEO;
	bodyClass?: string;
}

const { meta = {}, bodyClass = 'site' } = Astro.props;
const { textDirection = 'ltr', lang = 'en' } = SITE;
---

<!doctype html>
<html
	lang={lang}
	dir={textDirection}
	class="scrollbar-rounded-lg scrollbar-track-black-500 h-full scroll-smooth scrollbar-thin scrollbar-thumb-slate-300 scrollbar-thumb-rounded"
>
	<head>
		<MetaTags {...meta} />
	</head>
	<body
		class:list={[
			'mt-[--fixed-header-height] flex h-full flex-col font-sans antialiased',
			bodyClass
		]}
		data-theme="synthwave"
	>
		<slot />

		<ProgressToTopButton />

		<BasicScripts />
	</body>
</html>
