---
import Header from '@components/Header/Header.astro';
import Footer from '@components/Footer/Footer.astro';
import Layout from '@layouts/BaseLayout.astro';

const { meta, bodyClass } = Astro.props;
---

<Layout {meta} {bodyClass}>
	<div class="site relative overflow-hidden">
		<slot name="header">
			<Header />
		</slot>

		<main class="main-content" id="main-content">
			<slot />
		</main>

		<slot name="footer">
			<Footer />
		</slot>
	</div>
</Layout>
