---
import { twMerge } from 'tailwind-merge';

interface Props {
  href: string;
  className?: string;
  variant?: 'outline' | 'neutral' | 'primary';
}

const { href, className, variant = 'primary' } = Astro.props;
---

{
  variant?.toLowerCase() === 'outline' ? (
    <div class="group inline-block w-full transform cursor-pointer rounded-btn bg-linear-to-r from-primary to-accent from-20% p-[0.05rem] transition-transform duration-200 will-change-transform hover:shadow-md sm:w-auto">
      <a
        href={href ?? '#'}
        class:list={twMerge(
          'btn btn-outline gap-2 rounded-btn mr-[0.05rem] mt-[0.05rem] mb-[0.1rem] ml-[0.05rem] border-0 no-underline no-animation w-[inherit] bg-base-100 px-12 text-base font-normal group-hover:shadow-none group-hover:bg-base-200 group-hover:text-neutral-content',
          className
        )}
      >
        <slot />
      </a>
    </div>
  ) : variant?.toLowerCase() === 'neutral' ? (
    <div class="inline-block w-full transform cursor-pointer rounded-btn bg-neutral p-[0.05rem] transition-transform duration-200 will-change-transform hover:shadow-md sm:w-auto">
      <a
        href={href ?? '#'}
        class:list={twMerge(
          'btn btn-neutral gap-2 rounded-btn no-underline no-animation w-[inherit] px-12 text-base font-normal shadow-sm',
          className
        )}
      >
        <slot />
      </a>
    </div>
  ) : (
    <div class="inline-block w-full transform cursor-pointer rounded-btn bg-primary p-[0.05rem] transition-transform duration-200 will-change-transform hover:shadow-md md:w-auto">
      <a
        href={href ?? '#'}
        class:list={twMerge(
          'btn btn-primary gap-2 rounded-btn no-underline no-animation w-[inherit] px-12 text-base font-normal shadow-sm',
          className
        )}
      >
        <slot />
      </a>
    </div>
  )
}
