---
import { twMerge } from 'tailwind-merge';

const { className } = Astro.props;
---

<div
	class:list={twMerge(
		'pointer-events-none absolute -top-40 left-0 -z-10   h-[600px] w-[600px] select-none rounded-full bg-gradient-to-br from-accent to-neutral opacity-20 blur-[100px] md:-left-28 ',
		className
	)}
>
</div>
