---
import { twMerge } from 'tailwind-merge';

const { className } = Astro.props;
---

<div
	class:list={twMerge(
		'pointer-events-none absolute -top-40 left-0 -z-10 h-[600px] w-[600px] origin-center animate-glow-pulse select-none rounded-full bg-[radial-gradient(680px_at_center,_rgb(0,144,181),transparent_30%)] blur-3xl md:-left-28',
		className
	)}
>
</div>
