---
import { twMerge } from 'tailwind-merge';

const { className } = Astro.props;
---

<div
	class:list={twMerge(
		'-top-40 left-0 md:-left-28 -z-10 absolute bg-[radial-gradient(680px_at_center,_rgba(255,0,255,0.25),_transparent_70%)] opacity-50 blur-[140px] rounded-full w-[700px] h-[700px] origin-center animate-glow-pulse pointer-events-none select-none mix-blend-screen',
		className
	)}
>
</div>
