---

---

<div
	class="mouse-cursor cursor-outer translate-z-0 pointer-events-none invisible fixed left-0 top-0 z-50 -ml-[15px] -mt-[15px] hidden h-[30px] w-[30px] rounded-full border-2 border-accent opacity-50 transition-all duration-700 ease-out md:block"
>
</div>
<div
	class="mouse-cursor cursor-inner translate-z-0 transition-mouse pointer-events-none invisible fixed left-0 top-0 z-50 -ml-[3px] -mt-[3px] hidden h-[6px] w-[6px] rounded-full bg-accent duration-300 ease-in-out md:block"
>
</div>
