---
import { twMerge } from 'tailwind-merge';

const { id, className, style } = Astro.props;
---

<section {id} class={twMerge('relative py-12 sm:py-24 lg:py-32', className)} style={style}>
  <slot />
</section>
